
   
   
h2{
    width: auto;
    height: 30px;
    background-color:yellow;
}

h2{
	width: auto;
	height: 10;
	background-color: green yellow;
}

h4{
	width: auto;
	height: 30;
	background-color: green;
}



ul{list-style-type:square;}